Source/SevenUpdate/Service References/Service/Mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SevenUpdate/Mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SevenUpdate" />
  <xs:element name="AddApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SevenUpdate" minOccurs="0" name="application" nillable="true" type="q1:Sua" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SevenUpdate" minOccurs="0" name="applications" nillable="true" type="q2:ArrayOfSua" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SevenUpdate" minOccurs="0" name="options" nillable="true" type="q3:Config" />
        <xs:element minOccurs="0" name="autoCheck" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HideUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SevenUpdate" minOccurs="0" name="hiddenUpdate" nillable="true" type="q4:Suh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HideUpdates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SevenUpdate" minOccurs="0" name="hiddenUpdates" nillable="true" type="q5:ArrayOfSuh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstallUpdates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SevenUpdate" minOccurs="0" name="appUpdates" nillable="true" type="q6:ArrayOfSui" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SevenUpdate" minOccurs="0" name="hiddenUpdate" nillable="true" type="q7:Suh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDownloadCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sender" nillable="true" type="xs:anyType" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SevenUpdate" minOccurs="0" name="e" nillable="true" type="q8:DownloadCompletedEventArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDownloadProgressChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sender" nillable="true" type="xs:anyType" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SevenUpdate" minOccurs="0" name="e" nillable="true" type="q9:DownloadProgressChangedEventArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnErrorOccurred">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sender" nillable="true" type="xs:anyType" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SevenUpdate" minOccurs="0" name="e" nillable="true" type="q10:ErrorOccurredEventArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnInstallCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sender" nillable="true" type="xs:anyType" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SevenUpdate" minOccurs="0" name="e" nillable="true" type="q11:InstallCompletedEventArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnInstallProgressChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sender" nillable="true" type="xs:anyType" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SevenUpdate" minOccurs="0" name="e" nillable="true" type="q12:InstallProgressChangedEventArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>