Source/SevenUpdate/Service References/WCF/Mex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SevenUpdate/Mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SevenUpdate.Base" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SevenUpdate.Base" minOccurs="0" name="app" nillable="true" type="q1:Sua" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUpdates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SevenUpdate.Base" minOccurs="0" name="appUpdates" nillable="true" type="q2:ArrayOfSui" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SevenUpdate.Base" minOccurs="0" name="hiddenUpdate" nillable="true" type="q3:Suh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HideUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SevenUpdate.Base" minOccurs="0" name="hiddenUpdate" nillable="true" type="q4:Suh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HideUpdates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SevenUpdate.Base" minOccurs="0" name="hiddenUpdates" nillable="true" type="q5:ArrayOfSuh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDownloadCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="errorOccurred" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnInstallCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatesInstalled" type="xs:int" />
        <xs:element minOccurs="0" name="updatesFailed" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnErrorOccurred">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exception" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SevenUpdate.Base" minOccurs="0" name="type" type="q6:ErrorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDownloadProgressChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bytesTransferred" type="xs:unsignedLong" />
        <xs:element minOccurs="0" name="bytesTotal" type="xs:unsignedLong" />
        <xs:element minOccurs="0" name="filesTransferred" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="filesTotal" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnInstallProgressChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="progress" type="xs:int" />
        <xs:element minOccurs="0" name="updatesComplete" type="xs:int" />
        <xs:element minOccurs="0" name="totalUpdates" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>