Source/SevenUpdate/Service References/WCF/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/SevenUpdate/Mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/SevenUpdate/Mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SevenUpdate/Mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SevenUpdate" />
      <xsd:import schemaLocation="http://localhost/SevenUpdate/Mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Win32" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IService_UnSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribe" />
  </wsdl:message>
  <wsdl:message name="IService_AddApp_InputMessage">
    <wsdl:part name="parameters" element="tns:AddApp" />
  </wsdl:message>
  <wsdl:message name="IService_InstallUpdates_InputMessage">
    <wsdl:part name="parameters" element="tns:InstallUpdates" />
  </wsdl:message>
  <wsdl:message name="IService_ShowUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowUpdate" />
  </wsdl:message>
  <wsdl:message name="IService_HideUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:HideUpdate" />
  </wsdl:message>
  <wsdl:message name="IService_HideUpdates_InputMessage">
    <wsdl:part name="parameters" element="tns:HideUpdates" />
  </wsdl:message>
  <wsdl:message name="IService_ChangeSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeSettings" />
  </wsdl:message>
  <wsdl:message name="IService_OnDownloadCompleted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnDownloadCompleted" />
  </wsdl:message>
  <wsdl:message name="IService_OnInstallCompleted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnInstallCompleted" />
  </wsdl:message>
  <wsdl:message name="IService_OnErrorOccurred_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnErrorOccurred" />
  </wsdl:message>
  <wsdl:message name="IService_OnDownloadProgressChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnDownloadProgressChanged" />
  </wsdl:message>
  <wsdl:message name="IService_OnInstallProgressChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnInstallProgressChanged" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Subscribe" message="tns:IService_Subscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UnSubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UnSubscribe" message="tns:IService_UnSubscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddApp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddApp" message="tns:IService_AddApp_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="InstallUpdates">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InstallUpdates" message="tns:IService_InstallUpdates_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ShowUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ShowUpdate" message="tns:IService_ShowUpdate_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="HideUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/HideUpdate" message="tns:IService_HideUpdate_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="HideUpdates">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/HideUpdates" message="tns:IService_HideUpdates_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ChangeSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ChangeSettings" message="tns:IService_ChangeSettings_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnDownloadCompleted">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/OnDownloadCompleted" message="tns:IService_OnDownloadCompleted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnInstallCompleted">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/OnInstallCompleted" message="tns:IService_OnInstallCompleted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnErrorOccurred">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/OnErrorOccurred" message="tns:IService_OnErrorOccurred_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnDownloadProgressChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/OnDownloadProgressChanged" message="tns:IService_OnDownloadProgressChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnInstallProgressChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/OnInstallProgressChanged" message="tns:IService_OnInstallProgressChanged_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <soap12:operation soapAction="http://tempuri.org/IService/UnSubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AddApp">
      <soap12:operation soapAction="http://tempuri.org/IService/AddApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InstallUpdates">
      <soap12:operation soapAction="http://tempuri.org/IService/InstallUpdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ShowUpdate">
      <soap12:operation soapAction="http://tempuri.org/IService/ShowUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="HideUpdate">
      <soap12:operation soapAction="http://tempuri.org/IService/HideUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="HideUpdates">
      <soap12:operation soapAction="http://tempuri.org/IService/HideUpdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ChangeSettings">
      <soap12:operation soapAction="http://tempuri.org/IService/ChangeSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="OnDownloadCompleted">
      <soap12:operation soapAction="http://tempuri.org/IService/OnDownloadCompleted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnInstallCompleted">
      <soap12:operation soapAction="http://tempuri.org/IService/OnInstallCompleted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnErrorOccurred">
      <soap12:operation soapAction="http://tempuri.org/IService/OnErrorOccurred" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDownloadProgressChanged">
      <soap12:operation soapAction="http://tempuri.org/IService/OnDownloadProgressChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnInstallProgressChanged">
      <soap12:operation soapAction="http://tempuri.org/IService/OnInstallProgressChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="NetNamedPipeBinding_IService" binding="tns:NetNamedPipeBinding_IService">
      <soap12:address location="net.pipe://localhost/SevenUpdate/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/SevenUpdate/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>SERVER-7\sevenalive</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>