Seven Update/Service References/ESB/Mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDownloadDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="errorOccurred" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnInstallDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="errorOccurred" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnErrorOccurred">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="errorDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDownloadProgressChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bytesTransferred" type="xs:unsignedLong" />
        <xs:element minOccurs="0" name="bytesTotal" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnInstallProgressChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="progress" type="xs:int" />
        <xs:element minOccurs="0" name="updatesComplete" type="xs:int" />
        <xs:element minOccurs="0" name="totalUpdates" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>