Seven Update/Service References/WCF/EventService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="EventService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IEventSystem_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/SevenUpdate/Mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/SevenUpdate/Mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SevenUpdate/Mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SevenUpdate" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventSystem_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IEventSystem_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IEventSystem_OnDownloadDone_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnDownloadDone" />
  </wsdl:message>
  <wsdl:message name="IEventSystem_OnInstallDone_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnInstallDone" />
  </wsdl:message>
  <wsdl:message name="IEventSystem_OnErrorOccurred_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnErrorOccurred" />
  </wsdl:message>
  <wsdl:message name="IEventSystem_OnDownloadProgressChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnDownloadProgressChanged" />
  </wsdl:message>
  <wsdl:message name="IEventSystem_OnInstallProgressChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnInstallProgressChanged" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IEventSystem">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventSystem/Subscribe" message="tns:IEventSystem_Subscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventSystem/Unsubscribe" message="tns:IEventSystem_Unsubscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnDownloadDone">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventSystem/OnDownloadDone" message="tns:IEventSystem_OnDownloadDone_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnInstallDone">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventSystem/OnInstallDone" message="tns:IEventSystem_OnInstallDone_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnErrorOccurred">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventSystem/OnErrorOccurred" message="tns:IEventSystem_OnErrorOccurred_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnDownloadProgressChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventSystem/OnDownloadProgressChanged" message="tns:IEventSystem_OnDownloadProgressChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnInstallProgressChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventSystem/OnInstallProgressChanged" message="tns:IEventSystem_OnInstallProgressChanged_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IEventSystem" type="tns:IEventSystem">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IEventSystem_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IEventSystem/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/IEventSystem/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="OnDownloadDone">
      <soap12:operation soapAction="http://tempuri.org/IEventSystem/OnDownloadDone" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnInstallDone">
      <soap12:operation soapAction="http://tempuri.org/IEventSystem/OnInstallDone" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnErrorOccurred">
      <soap12:operation soapAction="http://tempuri.org/IEventSystem/OnErrorOccurred" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDownloadProgressChanged">
      <soap12:operation soapAction="http://tempuri.org/IEventSystem/OnDownloadProgressChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnInstallProgressChanged">
      <soap12:operation soapAction="http://tempuri.org/IEventSystem/OnInstallProgressChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventService">
    <wsdl:port name="NetNamedPipeBinding_IEventSystem" binding="tns:NetNamedPipeBinding_IEventSystem">
      <soap12:address location="net.pipe://localhost/SevenUpdate/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/SevenUpdate/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Server-7\sevenalive</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>